<div class="container">
    <div class="nav-div">
        <div class="logo">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-medium-4062831-3357717.png?f=webp&w=50" alt="">
        </div>
        <div class="navbar">
            <div class="logo-text">
                <h1>Medium</h1>
            </div>
            <div class="inner-navbar">
                <a href="">
                    <p>Our story</p>
                </a>
                <a href="">
                    <p>Membership</p>
                </a>
                <a href="">
                    <p>Write</p>
                </a>
                <a href="">
                    <p>Sign in</p>
                </a>
                <a href="">
                    <button class="nav-btn">Get started</button>
                </a>
            </div>
        </div>
    </div>
</div>